    body{
    background-color: #d3e0ea;
    }

    .one{
        background-color: #a1cae2;
        padding: 1em;
        text-align: center;
    }

    .ten{
        text-align: center;
    }

    .five{
        font-size: 20px;
    }

    .rr{
        text-align: center;
    }