body{
    background-color: #fbedbe;
    font-size: 20px;
    }

    .one{
        background-color: #f7d081;
        padding: 1em;
        text-align: center;
    }

    .eight{
        text-align: center;
    }

    .nine{
        font-size: 20px;
    }


   