body{
    background-color: #c8ead1;
    font-size: 20px;
    }

    .one{
        background-color: #73c088;
        padding: 1em;
        text-align: center;
    }

    .six{
        text-align: center;
    }
