body{
    background-color: #dab9e6;
    font-size: 20px;
    }

    .one{
        background-color: #ccaadd;
        padding: 1em;
        text-align: center;
    }

    .cc{
        text-align: center;
    }